include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include custom_finofy *.css
recursive-include custom_finofy *.csv
recursive-include custom_finofy *.html
recursive-include custom_finofy *.ico
recursive-include custom_finofy *.js
recursive-include custom_finofy *.json
recursive-include custom_finofy *.md
recursive-include custom_finofy *.png
recursive-include custom_finofy *.py
recursive-include custom_finofy *.svg
recursive-include custom_finofy *.txt
recursive-exclude custom_finofy *.pyc